body {
	font-family: "Avenir Next";
}

li {
	list-style: none;
}

/* ヘッダー */
.header {
	background-color: #58b4ae;
	height: 100px;
}

.header-logo {
	font-size: 50px;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 50px;
}

.header-list li {
	font-size: 22px;
	float: left;
	padding: 35px 20px;
}

/* メイン */
.main {
	padding: 20px 80px;
}

.copy-container h1 {
	font-size: 60px;
}

.contents-item {}

/* フッダー */
.footer {
	background-color: #ffe277;
	height: 80px;
}

.footer-logo {
	font-size: 22px;
	float: left;
	padding: 25px;
}

.footer-list {
	float: right;
	padding-right: 20px;
}

.footer-list li {}
