body {
	font-family: "Avenir Next";
}

li {
	list-style: none;
}

/* ヘッダー */
header {
	background-color: #58b4ae;
	height: 100px;
}

header a {
	text-decoration: none;
	color: #000000;
}

.header-logo {
	font-size: 50px;
	float: left;
	padding: 15px 15px 40px 50px;
}

.header-list li {
	font-size: 22px;
	float: left;
	padding: 35px 20px;
}

/* メイン */
main {
	padding: 20px 80px;
}

.copy-container h1 {
	font-size: 60px;
}

.contents {
	height: 500px;
	margin-top: 100px;
}


.section-title {
	border-bottom: 2px solid #dee7ec;
	font-size: 28px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.contents-item {
	float: left;
	margin-right: 20px;
}

/* フッダー */
footer {
	background-color: #ffe277;
	height: 80px;
}

.footer-logo {
	font-size: 22px;
	float: left;
	padding: 25px;
}

.footer-logo a {
	text-decoration: none;
	color: #000000;
}

.footer-list {
	float: right;
	padding-right: 20px;
}

.footer-list li {}
